@media only screen and (max-width: 849px){
  /* firstView */
.l-business__firstView {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url(../../../images/kate-trysh-034iotpHHds-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: 60% 0%;
  background-size: cover;
}

 /* header */
 .l-header__list {
  display: none;
 }
.l-header__logo {
  width: 45%;
}

.l-header {
 display: flex;
 justify-content: space-between;
 padding: 10px;
}
.l-header__title {
  font-size: 4vw;
  width: 50%;
  color: #3AABD2;
  text-shadow: 0 4px 6px rgb(0 0 0 / 25%);
  align-items: center;
}
.c-hamburger {
 display: flex;
 align-items: center;
 padding-right: 15px;
}
.c-hamburger__toggle {
 display: block;
 position: relative;
 width: 30px;
 height: 25px;
}
.c-hamburger__toggle i {
 display: block;
 width: 100%;
 height: 3px;
 background-color: #3AABD2;
 position: absolute;
 transition: transform .5s, opacity .5s;
}
.c-hamburger__toggle i:nth-child(1) {
 top: 0;
}
.c-hamburger__toggle i:nth-child(2) {
 top: 0;
 bottom: 0;
 margin: auto;
}
.c-hamburger__toggle i:nth-child(3) {
 bottom: 0;
}
.c-hamburger__menu {
  list-style: none;
}

/*----------------------------
* メニュー本体
*----------------------------*/
.c-hamburger__menu{
 position: fixed;
 top: 0;
 right: 0;
 z-index: 1;
 width: 100vw;
 height: 100vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background: #3AABD2;
}
.c-hamburger__menuItem{
 width: 100%;
 height: auto;
 font-weight: 900;
 text-align: center;
 color: #fff;
 font-size: 4vw;
 margin-bottom: 7vh;
 list-style: none;
}
.c-hamburger__menuItem a {
  position: relative;
}
.c-hamburger__menuItem a::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
  bottom: -10px;
  transform: scale(0,1);
  transform-origin: left top;
  transition: transform 0.3s;
}
 .c-hamburger__menuItem a:hover {
  opacity: 0.8;
}
.c-hamburger__menuItem a:hover::after {
  transform: scale(1,1);
}
.c-hamburger__menu--close {
 display: block;
 position: relative;
 width: 15vw;
 height: 15vw;
 border: 5px solid #ffffff; /* 枠の調整 */
 border-radius: 50%;  /* 丸みの度合い */
 background: #3AABD2; /* ボタンの背景色 */
}

.c-hamburger__menu--close::before, .c-hamburger__menu--close::after {
 content: "";
 position: absolute;
 top: 50%;
 left: 50%;
 width: 5px; /* 棒の幅（太さ） */
 height: 15vw; /* 棒の高さ */
 background: #ffffff; /* バツ印の色 */
}

.c-hamburger__menu--close::before {
 transform: translate(-50%,-50%) rotate(45deg);
}

.c-hamburger__menu--close::after {
 transform: translate(-50%,-50%) rotate(-45deg);
}

/*----------------------------
* アニメーション部分
*----------------------------*/

/* アニメーション前のメニューの状態 */
.c-hamburger__menu{
 transform: translateX(100vw);
 transition: all .3s linear;
}
/* アニメーション後のメニューの状態 */
.c-hamburger__menu.is-active{
 transform: translateX(0);
}

/* hero */
.l-business__hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: #fff;
}
.l-business__Herotitle {
  font-size: 6vw;
  text-shadow: 0 1px #bbb, 1px 2px #bbb, 2px 3px #bbb, 3px 4px #bbb, 4px 5px #bbb, 5px 10px 8px #000;
}
.l-business__Herosubtitle {
  font-size: 5vw;
}

/* fadeUP Animation */
.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fadeUpAnime {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 事業内容 */
.p-business__content {
  border: solid 3px #3AABD2;
  margin: 10% 5%;
  padding: 3%;
}
.p-business__desc {
  padding: 3% 0;
}
.p-business__feature {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  color: #3AABD2;
  opacity: 0;
  border-bottom: solid #3AABD2 1px;
}
.p-business__titile {
  font-size: 4vw;
  margin-bottom: 1%;
}
.p-business__Subtitle {
  font-size: 3.8vw;
  margin-bottom: 1%;
}
.p-business__info {
  text-align: center;
}
.p-business__text {
  margin-top: 3%;
  font-size: 3.5vw;
  opacity: 0;
}
.p-business__summary {
  padding: 3% 2%;
  margin: 0 auto;
}
.p-business__list {
  list-style: disc;
  opacity: 0;
}
.p-business__Listtitle {
  background-color: #3AABD2;
  border-radius: 20px;
  padding: 5%;
  text-align: center;
  color: #fff;
  width: 50%;
  margin: 0 auto;
  font-size: 3.8vw;
}
.p-business__item {
  margin: 8% auto;
  width: 63%;
  font-size: 3.5vw;
}

/* footer */
 .l-footer {
   text-align: center;
   color: #fff;
   font-size: 4vw;
   font-weight: 700;
   padding-bottom: 15px;
   background-color: #3AABD2;
 }
 .l-footer__list {
   display: flex;
   padding: 50px 20px 25px 20px;
   justify-content: center;
   gap: 5%;
   list-style: none;
 }
  .l-footer__listItem a {
   position: relative;
 }
 .l-footer__listItem a::after {
   position: absolute;
   left: 0;
   content: "";
   width: 100%;
   height: 2px;
   background: #fff;
   bottom: -10px;
   transform: scale(0,1);
   transform-origin: left top;
   transition: transform 0.3s;
 }
 .l-footer__listItem a:hover {
   opacity: 0.8;
 }
 .l-footer__listItem a:hover::after {
   transform: scale(1,1);
 }
 .c-copyRight {
   font-size: 4vw;
 }
}