@media only screen and (min-width: 850px){
/* firstView */
.l-business__firstView {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url(../../../images/kate-trysh-034iotpHHds-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: 100% 40%;
  background-size: cover;
}
/* header */
 .c-hamburger {
  display: none;
 }

 .l-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
 }
 .l-header__title {
   font-size: 4vw;
   width: 50%;
   color: #3AABD2;
   text-shadow: 0 4px 6px rgb(0 0 0 / 25%);
 }
 .l-header__list {
   display: flex;
   justify-content: space-between;
   font-size: 1.5vw;
   width: 50%;
   text-align: center;
   color: #3AABD2;
   list-style: none;
 }
.l-header__listItem {
   position: relative;
   width: 20%;
 }
 .l-header__listLink {
   color: #3AABD2;
 }
 .item-active {
   color: #fff;
 }
 .l-header__listLink:hover {
   color: #fff;
 }
 .l-header__listItem::after {
   position: absolute;
   left: 0;
   content: "";
   width: 100%;
   height: 2px;
   background: #fff;
   bottom: -10px;
   transform: scale(0,1);
   transform-origin: left top;
   transition: transform 0.3s;
 }
 .l-header__listItem:hover::after {
   transform: scale(1,1);
 }
 .l-header__listItem img {
   width: 25%;
   margin: 0 auto;
   filter: drop-shadow(#000 2px 0px);
 }

 /* hero */
.l-business__hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.l-business__Herotitle {
  font-size: 5vw;
  color: #fff;
  text-shadow: 0 1px #bbb, 1px 2px #bbb, 2px 3px #bbb, 3px 4px #bbb, 4px 5px #bbb, 5px 10px 8px #000;
}
.l-business__Herosubtitle {
  font-size: 3vw;
  color: #fff;
}

/* fadeUP Animation */
.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fadeUpAnime {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 事業内容 */
.p-business__content {
  border: solid 3px #3AABD2;
  margin: 10% 5%;
  padding: 3%;
}
.p-business__desc {
  margin-bottom: 3%;
  padding: 2% 0;
}
.p-business__feature {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  color: #3AABD2;
  opacity: 0;
  border-bottom: #3AABD2 solid 1px;
}
.p-business__titile {
  font-size: 2vw;
  margin-bottom: 1%;
}
.p-business__Subtitle {
  font-size: 1.5vw;
  margin-bottom: 1%;
}
.p-business__info {
  text-align: center;
}
.p-business__text {
  margin-top: 3%;
  font-size: 1.5vw;
  opacity: 0;
}
.p-business__summary {
  padding: 2%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.p-business__list {
  width: 40%;
  list-style: disc;
  font-size: 1.5vw;
  opacity: 0;
}
.p-business__list:nth-child(2) {
  animation-delay: 1s;
}
.p-business__Listtitle {
  background-color: #3AABD2;
  border-radius: 20px;
  padding: 5%;
  text-align: center;
  color: #fff;
}
.p-business__item {
  margin: 15% 0;
}

 /* footer */
 .l-footer {
   text-align: center;
   color: #fff;
   font-size: 1.5vw;
   font-weight: 700;
   padding-bottom: 15px;
   background-color: #3AABD2;
 }
 .l-footer__list {
   display: flex;
   padding: 50px 20px 25px 20px;
   justify-content: center;
   gap: 5%;
   list-style: none;
 }
 .l-footer__listItem a {
   position: relative;
 }
 .l-footer__listItem a::after {
   position: absolute;
   left: 0;
   content: "";
   width: 100%;
   height: 2px;
   background: #fff;
   bottom: -10px;
   transform: scale(0,1);
   transform-origin: left top;
   transition: transform 0.3s;
 }
 .l-footer__listItem a:hover {
   opacity: 0.8;
 }
 .l-footer__listItem a:hover::after {
   transform: scale(1,1);
 }

}