@media only screen and (max-width: 849px){
  /* firstView */
.l-message__firstView{
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url(../../../images/samson-ZGjbiukp_-A-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: cover;
}

 /* header */
 .l-header__list {
  display: none;
 }
.l-header__logo {
  width: 45%;
}

.l-header {
 display: flex;
 justify-content: space-between;
 padding: 10px;
}
.l-header__title {
  font-size: 4vw;
  width: 50%;
  color: #3AABD2;
  text-shadow: #000000 3px 0px;
  align-items: center;
}
.c-hamburger {
 display: flex;
 align-items: center;
 padding-right: 15px;
}
.c-hamburger__toggle {
 display: block;
 position: relative;
 width: 30px;
 height: 25px;
}
.c-hamburger__toggle i {
 display: block;
 width: 100%;
 height: 3px;
 background-color: #3AABD2;
 position: absolute;
 transition: transform .5s, opacity .5s;
}
.c-hamburger__toggle i:nth-child(1) {
 top: 0;
}
.c-hamburger__toggle i:nth-child(2) {
 top: 0;
 bottom: 0;
 margin: auto;
}
.c-hamburger__toggle i:nth-child(3) {
 bottom: 0;
}
.c-hamburger__menu {
  list-style: none;
}

/*----------------------------
* メニュー本体
*----------------------------*/
.c-hamburger__menu{
 position: fixed;
 top: 0;
 right: 0;
 z-index: 1;
 width: 100vw;
 height: 100vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background: #3AABD2;
}
.c-hamburger__menuItem{
 width: 100%;
 height: auto;
 font-weight: 900;
 text-align: center;
 color: #fff;
 font-size: 4vw;
 margin-bottom: 7vh;
 list-style: none;
}
.c-hamburger__menuItem a {
  position: relative;
}
.c-hamburger__menuItem a::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
  bottom: -10px;
  transform: scale(0,1);
  transform-origin: left top;
  transition: transform 0.3s;
}
 .c-hamburger__menuItem a:hover {
  opacity: 0.8;
}
.c-hamburger__menuItem a:hover::after {
  transform: scale(1,1);
}
.c-hamburger__menu--close {
 display: block;
 position: relative;
 width: 15vw;
 height: 15vw;
 border: 5px solid #ffffff; /* 枠の調整 */
 border-radius: 50%;  /* 丸みの度合い */
 background: #3AABD2; /* ボタンの背景色 */
}

.c-hamburger__menu--close::before, .c-hamburger__menu--close::after {
 content: "";
 position: absolute;
 top: 50%;
 left: 50%;
 width: 5px; /* 棒の幅（太さ） */
 height: 15vw; /* 棒の高さ */
 background: #ffffff; /* バツ印の色 */
}

.c-hamburger__menu--close::before {
 transform: translate(-50%,-50%) rotate(45deg);
}

.c-hamburger__menu--close::after {
 transform: translate(-50%,-50%) rotate(-45deg);
}

/*----------------------------
* アニメーション部分
*----------------------------*/

/* アニメーション前のメニューの状態 */
.c-hamburger__menu{
 transform: translateX(100vw);
 transition: all .3s linear;
}
/* アニメーション後のメニューの状態 */
.c-hamburger__menu.is-active{
 transform: translateX(0);
}

/* hero */
.l-message__hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: #fff;
}
.l-message__Herotitle {
  font-size: 6vw;
}
.l-message__Herosubtitle {
  font-size: 5vw;
}

/* fadeUP Animation */
.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fadeUpAnime {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* main */
.p-message__content {
  border: solid 3px #3AABD2;
  margin: 10% 5%;
  padding: 3%;
}
.p-message__desc {
  padding: 5% 0;
}
.p-message__feature {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  color: #3AABD2;
  position: relative;
  opacity: 0;
}
.p-message__feature::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #3AABD2;
  bottom: -3px;
  transform: scale(0,1);
  transform-origin: left top;
  transition: transform 0.3s;
}
.p-message__feature:hover::after {
  transform: scale(1,1);
 }
.p-message__titile {
  font-size: 2vw;
  margin-bottom: 1%;
}
.p-message__Subtitle {
  font-size: 1.5vw;
  margin-bottom: 1%;
}
.p-message__info {
  text-align: center;
}
.p-message__text {
  margin-top: 3%;
  font-size: 1.5vw;
  opacity: 0;
}
.p-message__represetative {
  text-align: center;
  font-size: 2vw;
  margin-top: 3%;
  opacity: 0;
}

/* 会社概要 */
.p-profile__content {
  border: solid 3px #3AABD2;
  margin: 10% 5%;
  padding: 3%;
}
.p-profile__desc {
  padding: 5% 0;
}
.p-profile__feature {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  color: #3AABD2;
  position: relative;
  opacity: 0;
}
.p-profile__feature::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #3AABD2;
  bottom: -3px;
  transform: scale(0,1);
  transform-origin: left top;
  transition: transform 0.3s;
}
.p-profile__feature:hover::after {
  transform: scale(1,1);
 }
.p-profile__titile {
  font-size: 2vw;
  margin-bottom: 1%;
}
.p-profile__Subtitle {
  font-size: 1.5vw;
  margin-bottom: 1%;
}
.p-profile__group {
  padding-top: 3%;
  margin: 0 auto;
  width: 80%;
}
.p-profile__list {
  display: flex;
  margin: 3% 0;
  align-items: center;
  background-color: #3AABD2;
  opacity: 0;
}
.p-profile__summary {
  width: 40%;
  padding: 2%;
  text-align: center;
  color: #fff;
  font-size: 1.5vw;
}
.p-profile__detail {
  width: 60%;
  text-align: center;
  background-color: #fff;
  border: #3AABD2 solid 2px;
  padding: 2%;
  color: #3AABD2;
  font-size: 1.5vw;
}

/* MAP */
.p-map__desc {
  padding: 5% 0;
}
.p-map__feature {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  color: #3AABD2;
  position: relative;
  opacity: 0;
}
.p-map__feature::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #3AABD2;
  bottom: -3px;
  transform: scale(0,1);
  transform-origin: left top;
  transition: transform 0.3s;
}
.p-map__feature:hover::after {
  transform: scale(1,1);
 }
.p-map__titile {
  font-size: 2vw;
  margin-bottom: 1%;
}
.p-map__Subtitle {
  font-size: 1.5vw;
  margin-bottom: 1%;
}
.p-map {
  padding: 2% 0;
  margin: 0 auto;
  width: 80%;
  opacity: 0;
}
.p-map__img {
  width: 100%;
}

/* 沿革 */
.p-history__content {
  border: solid 3px #3AABD2;
  margin: 10% 5%;
  padding: 3%;
}
.p-history__desc {
  padding: 5% 0;
}
.p-history__feature {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  color: #3AABD2;
  opacity: 0;
  position: relative;
}
.p-history__feature::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #3AABD2;
  bottom: -3px;
  transform: scale(0,1);
  transform-origin: left top;
  transition: transform 0.3s;
}
.p-history__feature:hover::after {
  transform: scale(1,1);
 }
.p-history__titile {
  font-size: 2vw;
  margin-bottom: 1%;
}
.p-history__Subtitle {
  font-size: 1.5vw;
  margin-bottom: 1%;
}
.p-history__group {
  padding-top: 3%;
  margin: 0 auto;
  width: 80%;
}
.p-history__list {
  display: flex;
  margin: 3% 0;
  align-items: center;
  background-color: #3AABD2;
  opacity: 0;
}
.p-history__summary {
  width: 40%;
  padding: 2%;
  text-align: center;
  color: #fff;
  font-size: 1.5vw;
}
.p-history__detail {
  width: 60%;
  text-align: center;
  background-color: #fff;
  border: #3AABD2 solid 2px;
  padding: 2%;
  color: #3AABD2;
  font-size: 1.5vw;
}

/* footer */
 .l-footer {
   text-align: center;
   color: #fff;
   font-size: 1.5vw;
   font-weight: 700;
   padding-bottom: 15px;
   background-color: #3AABD2;
 }
 .l-footer__list {
   display: flex;
   padding: 50px 20px 25px 20px;
   justify-content: center;
   gap: 5%;
   list-style: none;
 }
  .l-footer__listItem a {
   position: relative;
 }
 .l-footer__listItem a::after {
   position: absolute;
   left: 0;
   content: "";
   width: 100%;
   height: 2px;
   background: #fff;
   bottom: -10px;
   transform: scale(0,1);
   transform-origin: left top;
   transition: transform 0.3s;
 }
 .l-footer__listItem a:hover {
   opacity: 0.8;
 }
 .l-footer__listItem a:hover::after {
   transform: scale(1,1);
 }
}