@media only screen and (min-width: 850px){
/* firstView */
.l-message__firstView {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url(../../../images/samson-ZGjbiukp_-A-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: 100% 40%;
  background-size: cover;
}
/* header */
 .c-hamburger {
  display: none;
 }

 .l-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
 }
 .l-header__title {
   font-size: 4vw;
   width: 50%;
   color: #3AABD2;
   text-shadow: 0 4px 6px rgb(0 0 0 / 25%);
 }
 .l-header__list {
   display: flex;
   justify-content: space-between;
   font-size: 1.5vw;
   width: 50%;
   text-align: center;
   color: #3AABD2;
   list-style: none;
 }
.l-header__listItem {
   position: relative;
   width: 20%;
   text-shadow: 0 4px 6px rgb(0 0 0 / 25%);
 }
 .l-header__listItem::after {
   position: absolute;
   left: 0;
   content: "";
   width: 100%;
   height: 2px;
   background: #fff;
   bottom: -10px;
   transform: scale(0,1);
   transform-origin: left top;
   transition: transform 0.3s;
 }
 .l-header__listItem:hover::after {
   transform: scale(1,1);
 }
 .l-header__listItem img {
   width: 25%;
   margin: 0 auto;
   filter: drop-shadow(#000 2px 0px);
 }

 /* hero */
.l-message__hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.l-message__Herotitle {
  font-size: 5vw;
  color: #fff;
}
.l-message__Herosubtitle {
  font-size: 3vw;
  color: #fff;
}

/* fadeUP Animation */
.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fadeUpAnime {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 代表挨拶 */
.p-message__content {
  border: solid 3px #3AABD2;
  margin: 10% 5%;
  padding: 3%;
}
.p-message__desc {
  padding: 2% 0;
}
.p-message__feature {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  color: #3AABD2;
  position: relative;
  opacity: 0;
}
.p-message__feature::after {
  position: absolute;
   left: 0;
   content: "";
   width: 100%;
   height: 2px;
   background: #3AABD2;
   bottom: -10px;
   transform: scale(0,1);
   transform-origin: left top;
   transition: transform 0.3s;
}
 .p-message__feature:hover::after {
   transform: scale(1,1);
 }
.p-message__titile {
  font-size: 2vw;
  margin-bottom: 1%;
}
.p-message__Subtitle {
  font-size: 1.5vw;
  margin-bottom: 1%;
}
.p-message__info {
  text-align: center;
}
.p-message__text {
  font-size: 1.5vw;
  margin-top: 3%;
  opacity: 0;
}
.p-message__represetative {
  text-align: center;
  font-size: 2vw;
  margin-top: 3%;
  opacity: 0;
}

/* 会社概要 */
.p-profile__desc {
  padding: 2% 0;
}
.p-profile__feature {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  color: #3AABD2;
  position: relative;
  opacity: 0;
}
.p-profile__feature::after {
  position: absolute;
   left: 0;
   content: "";
   width: 100%;
   height: 2px;
   background: #3AABD2;
   bottom: -10px;
   transform: scale(0,1);
   transform-origin: left top;
   transition: transform 0.3s;
}
 .p-profile__feature:hover::after {
   transform: scale(1,1);
 }
.p-profile__titile {
  font-size: 2vw;
  margin-bottom: 1%;
}
.p-profile__Subtitle {
  font-size: 1.5vw;
  margin-bottom: 1%;
}
.p-profile__group {
  padding-top: 3%;
  margin: 0 auto;
  width: 80%;
}
.p-profile__list{
  display: flex;
  margin: 3% 0;
  align-items: center;
  background-color: #3AABD2;
  opacity: 0;
}
.p-profile__summary {
  width: 50%;
  padding: 2%;
  text-align: center;
  color: #fff;
  font-size: 1.5vw;
}
.p-profile__detail {
  width: 50%;
  text-align: center;
  background-color: #fff;
  border: #3AABD2 solid 2px;
  padding: 2%;
  color: #3AABD2;
  font-size: 1.5vw;
}

/* MAP */
.p-map__desc {
  padding: 2% 0;
}
.p-map__feature {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  color: #3AABD2;
  position: relative;
  opacity: 0;
}
.p-map__feature::after {
  position: absolute;
   left: 0;
   content: "";
   width: 100%;
   height: 2px;
   background: #3AABD2;
   bottom: -10px;
   transform: scale(0,1);
   transform-origin: left top;
   transition: transform 0.3s;
}
 .p-map__feature:hover::after {
   transform: scale(1,1);
 }
.p-map__titile {
  font-size: 2vw;
  margin-bottom: 1%;
}
.p-map__Subtitle {
  font-size: 1.5vw;
  margin-bottom: 1%;
}
.p-map {
  padding: 2% 0;
  margin: 0 auto;
  width: 80%;
  opacity: 0;
}
.p-map__img {
  width: 100%;
}

/* 沿革 */
.p-history__desc {
  padding: 2% 0;
}
.p-history__feature {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  color: #3AABD2;
  position: relative;
  opacity: 0;
}
.p-history__feature::after {
  position: absolute;
   left: 0;
   content: "";
   width: 100%;
   height: 2px;
   background: #3AABD2;
   bottom: -10px;
   transform: scale(0,1);
   transform-origin: left top;
   transition: transform 0.3s;
}
 .p-history__feature:hover::after {
   transform: scale(1,1);
 }
.p-history__titile {
  font-size: 2vw;
  margin-bottom: 1%;
}
.p-history__Subtitle {
  font-size: 1.5vw;
  margin-bottom: 1%;
}
.p-history__group {
  padding-top: 3%;
  margin: 0 auto;
  width: 80%;
}
.p-history__list {
  display: flex;
  margin: 3% 0;
  align-items: center;
  background-color: #3AABD2;
  opacity: 0;
}
.p-history__summary {
  width: 50%;
  padding: 2%;
  text-align: center;
  color: #fff;
  font-size: 1.5vw;
}
.p-history__detail {
  width: 50%;
  text-align: center;
  background-color: #fff;
  border: #3AABD2 solid 2px;
  padding: 2%;
  color: #3AABD2;
  font-size: 1.5vw;
}

 /* footer */
 .l-footer {
   text-align: center;
   color: #fff;
   font-size: 1.5vw;
   font-weight: 700;
   padding-bottom: 15px;
   background-color: #3AABD2;
 }
 .l-footer__list {
   display: flex;
   padding: 50px 20px 25px 20px;
   justify-content: center;
   gap: 5%;
  list-style: none;
 }
 .l-footer__listItem a {
   position: relative;
 }
 .l-footer__listItem a::after {
   position: absolute;
   left: 0;
   content: "";
   width: 100%;
   height: 2px;
   background: #fff;
   bottom: -10px;
   transform: scale(0,1);
   transform-origin: left top;
   transition: transform 0.3s;
 }
 .l-footer__listItem a:hover {
   opacity: 0.8;
 }
 .l-footer__listItem a:hover::after {
   transform: scale(1,1);
 }
}