@media only screen and (min-width: 850px){
/* firstView */
.l-firstView {
  width: 100vw;
  height: 100vh;
  position: relative;
}
/* header */
 .c-hamburger {
  display: none;
 }

 .l-header {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 50px;
   height: 70px;
   background-color: rgb(125 125 125 / 25%);
   font-family: 'Aboreto', cursive;
 }
 .l-header__title {
   font-size: 36px;
   width: 50%;
   color: #3AABD2;
   text-shadow: 0 4px 6px rgb(0 0 0 / 25%);
 }
 .l-header__list {
   display: flex;
   justify-content: end;
   gap: 20px;
   font-size: 16px;
   font-weight: bold;
   width: 50%;
   text-align: center;
   color: #3AABD2;
   list-style: none;
 }
.l-header__listItem {
   position: relative;
   width: 15%;
 }
 .l-header__listLink {
   color: #000;
 }
 .item-active {
   color: #fff;
   border-bottom: 1px solid #fff;
 }
 .l-header__listLink:hover {
   color: #fff;
   border-bottom: 1px solid #fff;
 }
 .l-header__listItem img {
   width: 25%;
   margin: 0 auto;
   filter: drop-shadow(#000 1px 0px);
 }
.l-hero {
  position: absolute;
  top: 40%;
  left: 10%;
}
.l-hero__title {
  font-size: 56px;
  color: #fff;
  text-shadow: 0 1px #bbb, 1px 2px #bbb, 2px 3px #bbb, 3px 4px #bbb, 4px 5px #bbb, 5px 10px 8px #000;
  font-family: 'Aboreto', cursive;
}

/* main */
.p-global {
  width: 100vw;
  padding: 5%;
  display: flex;
  justify-content: center;
  gap: 40px;
  background-image: url(../../../images/background-img__white.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Noto Sans JP', sans-serif;
}
.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fadeUpAnime {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.p-global__content {
  width: 30%;
  height: 30vmax;
  border: solid 9px #3AABD2;
  opacity: 0;
  background-image: url(../../../images/kate-trysh-034iotpHHds-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  opacity: 0;
}
.p-global__content:nth-child(2) {
  width: 30%;
  height: 30vmax;
  border: solid 9px #3AABD2;
  opacity: 0;
  background-image: url(../../../images/samson-ZGjbiukp_-A-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0;
}
.p-global__content:nth-child(3) {
  width: 30%;
  height: 30vmax;
  border: solid 9px #3AABD2;
  opacity: 0;
  background-image: url(../../../images/airplane-paper-gc6f8bdd93_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0;
}
.fadeUp:nth-child(2) {
  animation-delay: 0.5s;
}
.fadeUp:nth-child(3) {
  animation-delay: 1s;
}
.p-global__textBox {
  background-color: rgb(125 125 125 / 50%);
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.p-global__textBox:hover {
  background-color: rgb(125 125 125 / 0%);
}
.p-global__text {
  color: #fff;
  font-size: 14px;
  width: 30%;
  margin: 0 auto 4px auto;
}
.p-global__btn {
  color: #fff;
  width: 30%;
  margin: 0 auto;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 00px;
  border-bottom-left-radius: 0px;
  font-size: 14px;
  border: none;
  background-color: #3AABD2;
}

 /* footer */
 .l-footer {
   text-align: center;
   color: #fff;
   font-size: 16px;
   padding-bottom: 15px;
   background-color: #3AABD2;
   font-family: 'Aboreto', cursive;
 }
 .l-footer__list {
   display: flex;
   padding: 50px 20px 25px 20px;
   justify-content: center;
   gap: 5%;
   list-style: none;
 }
 .l-footer__listItem a {
   position: relative;
 }
 .l-footer__listItem a::after {
   position: absolute;
   left: 0;
   content: "";
   width: 100%;
   height: 2px;
 }
 .l-footer__listItem a:hover {
   border-bottom: solid 1px #fff;
 }
 .l-footer__listItem a:hover::after {
   transform: scale(1,1);
 }

}